mail
mail/*
mail/class
mail/config
mail/contrib
mail/data
mail/doc
mail/functions
mail/help
mail/images
mail/include
mail/locale
mail/plugins
mail/po
mail/src
mail/themes
mail/configure
mail/README
mail/index.php
